.container {
  background-color: #232136;
  padding: 20px;
  margin: 15px 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  text-decoration: none;
  font-size: 1.5em;
  color: #f2f2f2;
  font-weight: bold;
}
